<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>

<footer>
  <div class="f-info mt-3 sticky-bottom">
    <div class="f-info-socials">
      <a
        href="https://www.linkedin.com/in/nikita-roy-149235238/"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/nikita024" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; EasyStay Private Limited</div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      &nbsp;&nbsp;&nbsp;
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
